<% @page_title = @article[:attr]['title'] %>
<div id="mobile_page">
  <div id="blog"> 
    <h1><%= @article[:attr]['title'] %></h1>
    <h2>By mikewei at <%= @article[:timestamp].strftime("%Y-%m-%d %H:%M") %> 阅读(<%= @article[:row].pv %>)</h2>
    <div id="text"><%= @article[:text][:html].html_safe %></div>
  </div>
  <div id="tail">
    <a href="/"><%= image_tag('logo.png', id:'logo') %></a>
    <div>&copy; mikewei 2015-2016</div>
  </div>
</div>
